<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>843467798766-0fapa085nuj4db9p36qf0igel4vcug6m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.843467798766-0fapa085nuj4db9p36qf0igel4vcug6m</string>
	<key>API_KEY</key>
	<string>AIzaSyBj1Rnfgm9Car0yWAmdkfCmA6koaynvAa4</string>
	<key>GCM_SENDER_ID</key>
	<string>843467798766</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.asluis.HealthMeFolder</string>
	<key>PROJECT_ID</key>
	<string>healthme-database</string>
	<key>STORAGE_BUCKET</key>
	<string>healthme-database.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:843467798766:ios:48b97fff29f5448ef79bff</string>
</dict>
</plist>